<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Kazak_Zero_Project.Properties.Settings.mainConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=bin/Debug/main.accdb"
      providerName="System.Data.OleDb" />
    <add name="Kazak_Zero_Project.Properties.Settings.mainConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=main.accdb"
      providerName="System.Data.OleDb" />
    <add name="Kazak_Zero_Project.Properties.Settings.mainConnectionString2"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=main.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>